
<% form_for(title_review) do |f| %>
	<b>Body:</b><br />
	<%= f.text_area :body, :rows => 5 %>

	<%= f.hidden_field :title_id, :value => title_review.title_id %>

	<p>
		<%= f.submit button_name %>
	</p>
<% end %>
