<h1>Editing Review For '<%= @title_review.title.proper_name %>'</h1>

<%= error_messages_for :title_review %>

<%= render :partial => 'title_review', :object => @title_review, :locals => { :button_name => 'Update'} %>

<%= link_to "Don't edit", @title_review %>
