

#flash_notice {
	color: green;
}

#navigation {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9em;
}

#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 4px;
}

#navigation li {
	display: inline;
}

#navigation a:link, #navigation a:visited {
	padding: 2px 20px 2px 20px;
	color: #FFFFFF;
	background-color: #000000;
	text-decoration: none;
	border: 1px solid #999999;
}

#navigation a:hover {
	color: #FFFFFF;
	background-color: #999999;
}

.title_rating_attribute {
	width: 260px;
	float: left;
	padding: 5px;
}

.small_left_item {
	width: 200px;
	float: left;
	padding: 5px;
}

#footer {
	height: 30px;
	width: auto;
	padding: 0px;
	padding-top: 10px;
	margin: 10px;
	color:  #000000;
	font-family: Arial, Helvetica, Georgia, serif;
	text-align: center;
	font-size: 1.0em;
	clear: both;
}
