body{
	margin:0;
	padding:0;
	background: url(/images/background.jpg) no-repeat center top #000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

img{
	border:0;
}

#header{
	margin: 0 auto;
	padding: 0;
	width: 1000px;
	height: 180px;
	background: url(/images/page_top.png) center bottom no-repeat;
	overflow:visible;
}

#header #logo{
	margin-top:15px;
	position:relative;
	float: left;
}

#header #main_nav{
	padding:0;
	margin:0;
	position:relative;
	bottom:120px;
	
	float:right;
	width: 640px;
	margin-bottom:-150px;
	font-family: Arial Black;
	font-size: 12px;
	color:#FFFFFF;
}

#header #signup{
	padding:0;
	margin:0;
	margin-left:410px;
}

#header #main_nav ul{
	padding:0;
	margin: 0;
	margin-top:64px;
}
#header #main_nav ul li{
	padding:0;
	margin:0;
	padding-top:8px;
	display: block;
	float:left;
	width: 240px;
	height:25px;
	background: url(/images/tab_orange.png) no-repeat;
	list-style:none;
	text-align:center;
	margin-right:-45px;
}

#header #main_nav a{
	cursor:pointer;
	text-decoration:none;
	color:#FFF;
}

#header #main_nav .selected{
	position:relative;
	background: url(/images/tab_white.png) no-repeat;
}
#header #main_nav .selected a{
	color:#330000;
}


#content{
	margin: 0 auto;
	width: 960px;
	padding:20px;
	padding-top:10px;
	background: #FFF;
	font-size:12px;
}

#content .green{
	color:#cc0000;
}
#content .orange{
	color:#660000;
}
#content .black{
	color:#000;
}
#content .money{
	font-weight: bold;
	color: #330000;
	text-align:right;
	font-size:10px;
	width:60px;
}
#content .rating{
	font-size:10px;
	color:#CCCCCC;
}
#content .review_link{
	font-size:10px;
	color:#CCCCCC;
	text-align:right;
	padding:0; margin:0;
}


#content a{
	color:#660000;
}

.panel_title{
	background: url(/images/panel_oj_center.jpg);
}
.panel_title h1{
	font-size:12px;
	font-weight:bold;
	color:#fff;
	margin:0; padding:0;
}

.panel_body h1{
	font-size:12px;
	padding:0; margin:0;
}
.panel_body h2{
	font-size:12px;
	padding:0; margin:0;
}
.panel_body h3{
	font-size:12px;
	font-weight:bold;
	padding:0; margin:0;
}

.panel_body p{
	margin:0;
	margin-bottom:10px;
}



#nav2{
	margin:0 auto; padding:20px 20px;
	font-size:12px;
	background: #fff;
	width: 960px;
	height:32px;
}
#nav2 ul{
	float:left;
	margin:0;	
	padding:0;
	width:350px;
}
#nav2 ul li{
	display: inline;
	list-style:none;
	margin-left:15px;
}
#nav2 ul a{
	color:#330000; 
	text-decoration:none;
}

#search{
	margin:0; padding:0;
	float:right;
	background: url(/images/search_center.jpg);
	height:42px;
}

#search input{
	margin:0; padding:0;
	padding-bottom:5px;
	background: none;
	font-size:14px;
	font-weight:bold;
	border:none;
	color: #330000;
	font-family:Arial, Helvetica, sans-serif;
}

#search #submitbutton{
	margin:0; padding:0;
	font-size:10px;
	font-weight:bold;
	width:94px;
	color:#FFF;
	border:0;
	background: url(/images/search_end.jpg);
	height:42px;
	padding-bottom:4px;
	cursor:pointer;
}

#login{
	margin:0; padding:0;
	float:left;
	background: url(/images/search_center.jpg);
	height:42px;
}

#login input{
	margin:0; padding:0;
	padding-bottom:5px;
	background: none;
	font-size:14px;
	font-weight:bold;
	border:none;
	color: #330000;
	font-family:Arial, Helvetica, sans-serif;
}

#login #submitbutton{
	margin:0; padding:0;
	font-size:10px;
	font-weight:bold;
	width:81px;
	color:#FFF;
	border:0;
	background: url(/images/login_end.jpg);
	height:42px;
	padding-bottom:4px;
	cursor:pointer;
}

#login h3{
	width: 150px;
	float:left;
}



#search_page{
	margin:0; padding:0; padding-left:20px;
}

#search_page input{
	margin:0; padding:0;
	width: 150px;
	font-size:12px;
	border:1px solid #330000;
	color: #330000;
	height:18px;
	margin-right:40px;
}

#search_page .submitbutton{
	margin:0; padding:0;
	font-size:10px;
	font-weight:bold;
	width:90px;
	color:#FFF;
	border:0;
	background-color:#330000;
	height:20px;
	padding-bottom:4px;
}







#footer{
	margin: 0 auto;
	width: 1000px;
	height: 30px;
	background: url(/images/page_bottom.png) center top no-repeat;
	font-size:12px;
	text-align:center;
}

#footer ul{
	padding:0;
	margin: 0;
	text-align:center
}
#footer ul li{
	padding:0 30px 0 30px;
	margin:0;
	display: inline;
	list-style:none;
	text-align:center;
	font-weight:bold;
}

#footer a{
	cursor:pointer;
	text-decoration:none;
	color:#660000;
}


#footer2{
	margin: 0 auto;
	width: 1000px;
	height: 30px;
	font-size:12px;
	text-align:center;
	color: #FFFFFF;
}
#footer2 a{
	color:#990000;
}


.image_holder1{
	width:100px;
	height:125px;
	background: #ccc;
	border: 1px solid #333;
}


#flash_notice {
	color: #660000;
	border: 5px solid #660000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	padding: 10px;
	background: #FFF;
}

.title_rating_attribute {
	width: 270px;
	float: left;
	padding: 5px;
}

.small_left_item {
	width: 200px;
	float: left;
	padding: 5px;
}

.star_table tr td{
	width: 200px;
}

.rating_star { float:left; clear:both; width:100%; height:auto; padding:0px; margin:0px; }
.rating_star li{ float:left;list-style:none; }
.rating_star li a:hover,
.rating_star .on{ background:url(/images/heart_on.jpg) no-repeat; }
.rating_star .dont{ background:url(/images/heart_none.jpg) no-repeat; }
.rating_star a{ background:url(/images/heart_off.jpg) no-repeat; float:left; width:20px; height:20px; }


#tbl_users tr th {
	border-bottom: 2px solid #e3d7d7;
}

#tbl_users tr td {
	border-bottom: 1px solid #e3d7d7;
	padding-top: 10px;
	padding-bottom: 10px;
}

#tbl_users tr .selected {
	background-color: #e5f8d4;
}

/*
blockquote:before { 
	content: "\201C";
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
}

blockquote:after { 
	content: "\201D";
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
}
*/


blockquote {
	line-height: 2.0em;
	padding-right: 200px;
}

.quote_open {
	float: left;
	padding-right: 20px;
	margin-top: -25px;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 1em;
	font-size: 150px;
	color: #f7ef2c;
 }

.quote_end {
	float: right;
	margin-top: 40px;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 1em;
	font-size: 150px;
	color: #f7ef2c;
}

.big_avatar_image {
	width: 100px;
	height: 100px;
	text-align: center;
}

.small_avatar_image {
	width: 30px;
	height: 30px;
	text-align: center;

}

