<h1>Closed Beta</h1>

<p>
	We will be in closed beta until <%=@end_date%>. You will need to 
	<%= link_to "Login or sign up", :controller => "users", :action => "new" %> 
	before you can use the site.
</p>
