<h1>New user</h1>

All information added to this website, except for user information, is licensed under the 
<a href="http://www.gnu.org/licenses/fdl-1.2.txt" target="_blank">GNU Free Documentation License</a>.

<%= error_messages_for :user %>

<%= render :partial => 'user', :object => @user, :locals => { :button_name => 'Create'} %>



