
<h1>About</h1>

<div class="writeboardbody">
  <p>We couldn&#8217;t decide which movie to watch one weekend, and so, like many people, we turned to reviews to help us decide. We picked the movie with the highest rating, and after watching it, we were sorely disappointed. We tried to figure out why was the movie so bad and still had an awesome review. Did the critics view the same movie that we did? Was the movie better during the screenings and later went through last minute edits? Or maybe, we just don&#8217;t like the same kind of movies the critics do?<br />With that last question, we found a solution to our problem. Too many people rely on subjective information. Unfortunately everyone&#8217;s taste is so different, our ideas of the best movie is always different. Amy loves action movies that lack all romance. Ken loves movies with stunning special effects. Matt S thinks the best movies are thinking movies and can&#8217;t stand poor plot. Picking a movie that is ideal is difficult when you have specific standards and have no way of knowing if a movie meets them.</p>


	<p>That&#8217;s where Me Love Movies comes in. Here, users can rate movies based on specific criteria allowing visitors the opportunity to find their ideal movie. If you love a romantic comedy that&#8217;s more comedy, you can search the archives for movies that not only meet your specific genre choice, but also have an awesome premise, and follows through with an impressive plot.</p>


	<p>Within the Movie Ratings system is a familiar review system as well. Sometimes the numbers are not enough, and by reviewing the movie, you can express your opinion of how cool a movie&#8217;s special effects were, or how cheesy the romance scenes are.</p>


	<p>Me Love Movies is still in Beta, and with that, we&#8217;re working on adding some great features. If you have any thoughts on this email info@melovemovies.com with Comments/Suggestions in the subject.</p>


	<p>- Threaded Reviews 
     Similar to Forum Boards, if you&#8217;re review sparks a discussion, people can reply to it. This can ultimately result in a flame war, or just a mild discussion about how terrible remastered films are.<br />- Make Friends
      Want to know what you&#8217;re friends have been watching? Now you can. Similar to Twitter, you can now see what your <span class="caps">IRL</span> friends have been rating &#38; reviewing. Or, maybe someone&#8217;s review of Fear and Loathing really hit home with you. This lets you meet more people who have similar tastes as you. Or, just follow someone who always starts wars in the reviews &#8211; it&#8217;d make for great entertainment. <br />- Netflix Queue</p>


	<p><i><em></i></em> for the following, if the <span class="caps">API</span> allows we shoudl totally do this.
      Have a netflix account? Well, make life easier and be able to look up the rating of a movie and easily add it into your netflix queue.</p>
</div>
