

<body bgcolor="#FFFFFF">

<h1>Contact</h1>

<div class="writeboardbody">
  <p>Sales<br />Me Love Movies offers advertising and sponsorship opportunities. For ad sales and other business development opportunities, please email advertise@melovemovies.com</p>


	<p>Comments/Suggestions<br />Are there areas here you think will make Me Love Movies a better solution?</p>


	<p>Technical Errors/Bug Reports<br />Did something go wrong? A page doesn&#8217;t load? Tell us which operating system, browser, and browser version you use. Also, list any error messages you are getting.</p>


	<p>Database Errors/Corrections<br />Are reviews clearly calculating incorrectly? Is a movie missing key cast members. Is a Movie missing?</p>


	<p>then add the form like here: http://www.rottentomatoes.com/help_desk/contact.php<br />and send all emails to info@melovemovies.com</p>
</div>
