

<ul>
	<li>FIXME: Add new movies</li>
	<li>FIXME: Add most popular</li>
	<li>FIXME: Add top movies in category</li>
	<li><%= link_to 'List all titles', :controller => 'titles', :action => 'index' %></li>
</ul>
