

<ul>
	<li>New Movies</li>
	<li>Most Popular</li>
	<li><%= link_to 'List all titles', :controller => 'titles', :action => 'index' %></li>
	<li><%= link_to 'List all title ratings', :controller => 'title_ratings', :action => 'index' %></li>
</ul>
