
<h1>Terms of Service</h1>

<div class="writeboardbody">
  <p>I. Me Love Movies Registered Member User Agreement</p>


	<p>Welcome to Me Love Movies, part of the Border7 group. We are glad you have decided to join our community. We look forward to your involvement with our sites and services. Before you begin delving into the vast services and content available on our sites, please take a moment to review this User Agreement (the &#8220;Agreement&#8221;). This Agreement is an agreement between you (referred to hereinafter as &#8220;You&#8221;, &#8220;Your,&#8221; &#8220;Member,&#8221; or &#8220;User&#8221;) and Border7. It is important that you understand both the benefits we provide, as well as our limitations.</p>


	<p>This Agreement applies to the web sites owned by Border7 (referred to hereinafter as either &#8220;B7,&#8221; or &#8220;Border7&#8221;) including, but not limited to border7.com, overlordamy.com, blainemeyer.com (collectively, the &#8220;Sites&#8221;). This agreement also applies to the various services offered, including but not limited to Me Love Movies, Survive the Darkness and another other services that may be added (collectively, the &#8220;Services&#8221;).</p>


	<p>While the Sites each offer a different combination of services and tools from one site to another, this agreement reflects our approach to memberships across our Sites and Services.</p>


	<p>1. Acceptance of Agreement</p>


	<p>When you complete the member registration process, you agree to this Agreement. This Agreement may be updated from time to time. You can view these terms, conditions and notices (these &#8220;Terms) at any time at: melovemovies.com/home/terms_of_service. Your continued use of our services signifies your binding acceptance of the changes. This Agreement will always be available on this page for you to read.</p>


	<p>Our Sites and Services provide you with opportunities to link to, or otherwise use, sites and services offered through our third-party service providers, including email. Your use of these third-party services is subject to terms posted by these third-party service providers. We have no control over any third-party site or service and we are not responsible for any changes to any third-party service or for the contents thereof, including, without limitation, any links that may be contained in or accessible through such third-party service. These links are provided solely as a convenience to our visitors. Such third-party linked sites are not under Border7 control and Border7 is not responsible for and does not endorse their content. You will need to make your own independent judgment regarding your interaction with these third-party sites or services. Our inclusion of advertisements for, or links to, a third-party site or service does not constitute an endorsement. By opting into third-party offers, you will be subject to terms posted by these third-parties. Opting into these offers signifies your agreement to those additional terms of the respective third parties.</p>


	<p>2. Children</p>


	<p>Border7 and our Sites are not directed to children under the age of 13. Border7 Sites and Services will not knowingly collect personally identifiable information from anyone under 13.</p>


	<p>Note to Parents. If you have any concerns about Border7 Sites, please contact us via our online form available at http://www.border7.com/support.php.</p>


	<p>3. About Our Services</p>


	<p>A). Border7 Sites and Services. As a commitment to our users, we currently provide you with access to a rich collection of online resources. These include online forums, personalized content and branded programming through Border7 Sites and Services. Some Services offered on Border7 are presently provided free of charge. It is possible that this could change in the future.</p>


	<p>B). Service Changes and Discontinuation. Border7 reserves the right to change or discontinue, temporarily or permanently, the Sites and Services at any time without notice. You agree that Border7 will not be liable to you or any third party for any modification or discontinuance of these Sites and Services.</p>


	<p>C). Privacy Policy. Border7 respects your privacy and has developed a detailed Privacy Policy that is incorporated into this Agreement. Please take the time to read our Privacy Policy. By agreeing to this Agreement, you are also accepting the terms of our Privacy Policy.</p>


	<p>4. Code of Conduct</p>


	<p>For the benefit of the entire Border7 community, and to comply with applicable laws, we have a few mandatory guidelines that we call &#8220;Code of Conduct&#8221;. We hope you will find them reasonable. Please understand, though, that any conduct that is judged by Border7, in its sole and unfettered discretion, to violate the Code of Conduct is grounds for immediate termination of your account. For this reason, we ask that you carefully read and follow them.</p>


	<p>A). Provide Accurate Information. You agree to provide true, accurate, current and complete information about yourself as requested in Border7 Sites&#8217; registration forms (we call this information &#8220;Registration Data&#8221;). Accurate records help us create better sites and provide us with opportunities to identify new services or products that may interest you. Please update the Registration Data to keep it current and accurate.</p>


	<p>B). Guard Your Password. Upon completing the registration process, you will receive an account and select a password. You are responsible for maintaining the confidentiality of your password and account, and you are fully responsible for all activities that occur under your password or account. Notify Border7 immediately of any unauthorized use of your password or account or any other breach of security. You must promptly change your password and notify Border7 of the problem by giving notice via e-mail to info@melovemovies.com.</p>


	<p>C). Obey the Law. You agree not to use the service for illegal purposes or for the transmission of material that is unlawful, harassing, libelous (untrue and damaging to others), invasive of another&#8217;s privacy, abusive, threatening, or obscene, or that infringes the copyrights (rights of an owner of written material) or other intellectual property rights of others.</p>


	<p>D). Content Restrictions. Border7 Sites attempt to provide some of the very best content available on the web and make it available to you on the Web for your personal, non-commercial use. All Web site design, text, graphics, the selection and arrangement thereof, and all software that are part of Border Sites and Services are protected by international copyright and Trademark laws. The publication, sale, or redistribution in any form or medium of text, photos, graphics, audio and/or video materials or any other form of proprietary content found on Border7 Sites and Services is strictly prohibited without the prior written permission of Border7. Content that is publicly available on <span class="caps">IGN </span>Entertainment Sites and Service may not be stored in a computer, except for personal and non-commercial use.</p>


	<p>E). Consolidated Sites. Border7 users should exercise caution when using consolidation sites. Consolidation sites are Internet sites that offer the ability to collect all of your personal information on one site. For example, you may be encouraged to provide consolidation site operators access to your Border7 accounts or membership information so that the information can be used to design customized search engines, web pages or advertising for you. All transactions initiated through a consolidation site using access information you provide are considered to be authorized by you, whether or not you were aware of the specific transaction. Border7 is therefore not responsible if the security, accuracy or quality of your information if it is compromised by a consolidation site you have authorized to access your data.</p>


	<p>5. Rights You Grant to the Border7 Sites</p>


	<p>A). Distributing Content You Produce. Subject to the Border7 Privacy Policy, you are licensing to the Border7 Sites and Services any &#8220;content&#8221; you provide through or to Border7 Sites and Services. User submitted content includes but is not limited to: letters or emails; board posts; reader reviews; movie ratings, data, notes and testimonials; and poll votes. Border7 Sites and Services may modify, display, distribute and create new material using such content on Border7 Sites and Services for the promotion and marketing of our services and the operation of our system. By submitting content, you automatically agree, or promise that the owner of such content has expressly agreed that, without any particular time limit, and without the payment of any fees, Border7 Sites and Services and anyone they permit may reproduce, display, distribute and create new works of authorship based on and including the content. You may not submit materials that have been trademarked or copyrighted by anyone other than yourself. When you submit a movie review, comments, or image, it is considered your original and copyrighted work and you are licensing the content to Border7 for publication. We may modify the format and display of the work, but not the content. It may be distributed across Border7 Sites and Services for promotion and marketing of our services and operation of our system.</p>


	<p>B). Border7 Advertising. The Border7 Sites and Services rely on advertisers to help fund the services that we offer to our members. In order to continue our service, you agree that the Border7 Sites and Services may display advertisements and promotions of all kinds in and with the services.</p>


	<p>C). Account Access. In order to ensure that the Border7 Sites and Services are able to provide high-quality services that are responsive to our members&#8217; needs, you agree that the Border7 team have access to your account and records as reasonably needed to investigate complaints.</p>


	<p>D). Merger or Acquisition. In order to ensure a smooth transition of services relative to your subscription, in the event of a merger, acquisition, reorganization, sale of all or substantially all of its assets, or the sale of an individual website owned by Border7, Border7 may transfer your Personally Identifiable Information and transition your existing accounts to a similar subscription product to a third party as a part of such merger, acquisition, reorganization, or sale.</p>


	<p>E). Copyright Infringement. B7 respects the intellectual property of others, and we ask our users to do the same. B7 may, in appropriate circumstances and at its discretion, disable and/or terminate the accounts of users who may be infringing the intellectual property rights of others.</p>


	<p>If you believe that your work has been copied in a way that constitutes copyright infringement, or your intellectual property rights have been otherwise violated, please provide B7&#8217;s Copyright Agent the following information:</p>


	<pre><code>1. an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest;
2. a description of the copyrighted work or other intellectual property that you claim has been infringed;
3. a description of where the material that you claim is infringing is located on the site;
4. your address, telephone number, and email address;
5. a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright or intellectual property owner, its agent, or the law; and
6. a statement by you, made under penalty of perjury, that the above information in your Notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner's behalf.</code></pre>


	<p>B7&#8217;s Designated Agent for Notice of claims of copyright or other intellectual property infringement can be reached as follows:</p>


	<p>By Mail: 2345 Erringer Rd, Suite 214B, Simi Valley, <span class="caps">CA 93065</span><br />By Phone: 805.624.4373<br />By Email: info@border7.com<br />By Fax: 805.832.6188</p>


	<p>6. Other Legal Stuff</p>


	<p>A). Disclaimer of Warranties. You expressly understand and agree that:</p>


	<p>Your use of the service is at your sole risk. The service is provided on an &#8220;AS IS&#8221; and &#8220;AS <span class="caps">AVAILABLE</span>&#8221; basis. Border7 and its third party service providers expressly disclaim all warranties of any kind, whether express or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose and non-infringement.</p>


	<p>Border7 makes no warranty that (i) the Services will meet your requirements, (ii) the Services will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, (v) that your email or voicemail messages will not be lost, and (vi) any errors in the software will be corrected.</p>


	<p>Any material downloaded or otherwise obtained through the use of the Services is done at your own discretion and risk, and you will be solely responsible for any potential damage to your computer system or loss of data that results from the download of any such material. No advice or information, whether oral or written, obtained by you from <span class="caps">IGN </span>Entertainment Sites and Services, our third party service providers, or through or from the Service will create any warranty not expressly stated in the Agreement.</p>


	<p>Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability for incidental or consequential damages. Accordingly, some of the above limitations may not apply to you.</p>


	<p>To the extent that any part of this section is not consistent with any other part of this Agreement, then this Disclaimer of Warranties will override it.</p>


	<p>B). No Endorsement of User Content. You acknowledge and agree that Border7 Sites and Services do not endorse the content of any user and are not responsible or liable for any content, even though it may be unlawful, harassing, libelous, privacy invading, abusive, threatening, harmful, vulgar, obscene, or otherwise objectionable, or that it infringes or may infringe the intellectual property or other rights of another. You acknowledge that Border7 Sites and Services do not pre-screen any user posted content, but that Border7 and their designees will have the right (but not the obligation) in their sole discretion to refuse, edit, move or remove any content that is publicly available via the Sites and Service. User is defined as any person who visits Border7 Sites and receives information or uses Border7 Services.</p>


	<p>C). Limitation of Liability. You agree that Border7 will not be liable to you for any harms, which lawyers and courts often call direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data, death, or other intangible losses (even if the Border7 Sites have been advised of the possibility of such damages), resulting from: (i) The use or the inability to use the service; (ii) The cost of getting substitute goods and services resulting from any products, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) Unauthorized access to or alteration of your transmissions or data; (iv) Statements or conduct of anyone on the service; or (v) Any other matter relating to the service. If, notwithstanding the other provisions of this Agreement, Border7 is found to be liable to you for any damage or loss which arises out of our is any way connected to your use of the Sites or Services, Border7 liability shall in no event exceed the greater of (i) the total of any subscription or similar fees with respect to any Service or feature of or on the Sites paid in the six months prior to the date of the initial claim made against Border7, or (ii) US$100.00.</p>


	<p>D). Indemnification. You agree to protect and fully compensate Border7 Sites and Services and their service providers from any and all third-party claims, liability, damages, expenses and costs (including, but not limited to, reasonable attorneys fees) arising from your use of the Site or Services, your violation of the Agreement or your infringement, or infringement by any other user of your account, of any intellectual property or other right of anyone.</p>


	<p>E). More Stuff.</p>


	<p>The Border7 Sites and Services provide information of a general nature and are designed for informational and entertainment purposes only and are not meant to be a substitute for medical, health, legal, or financial advice from a professional. Consult with your professional for any specific medical, health, legal, or financial concern. The Border7 Sites and Services do not endorse any of the treatments, medications, or products discussed herein.</p>


	<p>Border7 rights under this Agreement may not be waived unless Border7 agrees to such change in writing. This Agreement is personal to you and you may assign this agreement only with Border7 prior written approval. Any other attempt to assign, transfer or delegate this Agreement shall be null and void.</p>


	<p>All matters relating to your access to, or use of, the Service shall be governed by U.S. federal law or the laws of the State of California, excluding that body of laws known as conflicts of laws. If any provision of this Agreement is invalid or unenforceable under applicable law, it is, to that extent, deemed omitted and the remaining provisions will continue in full force and effect. Any notices related to this agreement need to be given in writing to one another at our address below, or any new address that is given in such a notice. This agreement is the entire understanding between you and Border7 Sites and Services.</p>


	<p>II. Membership Terms of Service</p>


	<p><span class="caps">THIS SUBSCRIPTION AGREEMENT </span>(&#8220;AGREEMENT&#8221;) <span class="caps">IS A LEGAL AND BINDING AGREEMENT BETWEEN YOU </span>(&#8220;MEMBER&#8221;, &#8220;YOU,&#8221; &#8220;YOUR&#8221; <span class="caps">OR </span>&#8220;YOURSELF&#8221;), <span class="caps">AS THE END USER</span>, AND <span class="caps">BORDER7</span>/ME <span class="caps">LOVE MOVIES </span>(&#8220;OUR,&#8221; &#8220;US,&#8221; &#8220;WE&#8221; &#8220;ME <span class="caps">LOVE MOVIES</span>&#8221; <span class="caps">OR </span>&#8220;B7&#8221;). <span class="caps">BY REGISTERING FOR MEMBERSHIP</span>, YOU <span class="caps">ARE CONSENTING TO BECOME A PARTY TO THIS AGREEMENT AND AGREEING TO BE BOUND BY THE TERMS AND CONDITIONS HEREIN</span>. IF <span class="caps">YOU DO NOT ACCEPT AND AGREE TO ALL THE TERMS AND CONDITIONS OF THIS AGREEMENT</span>, YOU <span class="caps">MUST DISCONTINUE THE REGISTRATION PROCESS</span>.</p>


	<p>1. Cancellation of Your Membership</p>


	<p>You may terminate your membership at any time. When you terminate your account, it will not be automatically renewed and access will be terminated on the expiration date. You acknowledge that Border7, in its sole discretion, may terminate your ID, password, account (or any part thereof) or use of the Service for any reason, including, without limitation, if Border7 believes that you have violated or acted inconsistently with the letter or spirit of this Agreement or any Border7 User Agreements. Border7 may also, in its sole discretion, at any time discontinue providing the Service, or any part thereof, with or without notice. You agree that any termination of your access to the Service under any provision of this Agreement may be effected without prior notice, and acknowledge and agree that Border7 may immediately deactivate or delete your account and/or bar any further access to the Service. Further, you agree that Border7 shall not be liable to you or any third-party for any termination of your access to the Service.</p>


	<p>2. Subscriber Information</p>


	<p>You agree to provide true, accurate, current and complete information about yourself as prompted by the Service registration process. Once you subscribe to the Service, you will have an account and enter a password. You are solely and entirely responsible for maintaining the confidentiality of your password. Furthermore, you are solely and entirely responsible for any and all activities that occur under your account. You must promptly inform Border7 of any of the following: changes in the expiration date of any credit card used in connection with the service; changes in home or billing address; and apparent breaches of security, such as loss, theft, or unauthorized disclosure or use of an ID or password. Until Border7 is notified by e-mail of a breach in security, you will remain liable for any unauthorized use.</p>


	<p>3. Access</p>


	<p>You are responsible for providing all personal computer and communications equipment necessary to gain access to the Service. Access to and use of membership services is through a combination of an ID and a password. You must keep your password strictly confidential. Border7 will not release passwords for any reason, except as may be specifically required by law or court order. Unauthorized access to the Service is a breach of this Agreement and a violation of law.</p>


	<p>4. Warranty</p>


	<p>No warranty is made by Border7 regarding any information, services, or products provided through or in connection with membership services, and Border7 hereby expressly disclaims any and all warranties, including without limitation: any warranties as to the availability, accuracy, or content of information, products, or services; any warranties of merchantability or fitness for a particular purpose. Some states/provinces do not allow the exclusion of implied warranties, so the above exclusion may not apply to you.</p>


	<p>You hereby warrant and represent that you are in all respects qualified and competent to enter into this agreement.</p>


	<p>5. Limitations of Liability</p>


	<p><span class="caps">YOU HEREBY AGREE THAT WE WILL NOT BE LIABLE FOR INDIRECT</span>, SPECIAL <span class="caps">OR CONSEQUENTIAL DAMAGES OR ANY LOSS OF REVENUE</span>, PROFITS <span class="caps">OR DATA ARISING IN CONNECTION WITH THIS AGREEMENT OR THE SERVICE</span>, EVEN <span class="caps">IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES</span>. FURTHER, <span class="caps">OUR AGGREGATE LIABILITY ARISING WITH RESPECT TO THIS AGREEMENT AND THE SERVICE WILL NOT EXCEED THE TOTAL FEES PAID BY YOU UNDER THIS AGREEMENT</span>.</p>


	<p>6. Modifications.</p>


	<p>This Agreement may be modified from time to time without notice to you and changes are effective immediately upon posting on the Sites or Services. Your continued use of the Service constitutes your binding acceptance of this Agreement, including any changes or modifications we may make. If any part of this Agreement or any future changes to this Agreement are not acceptable to you, your only recourse is to terminate this Agreement. We may change, suspend or discontinue all or any aspect of the Service at any time, including availability of any Service feature, database or content, without prior notice or liability.</p>


	<p>7. Notices</p>


	<p>Notices by Border7 to subscribers may be given by means of electronic messages or by a general posting on the Sites or Services.</p>


	<p>8. <span class="caps">FAQ</span></p>


	<p>For answers to questions about your Me Love Movies registration, please visit our <span class="caps">FAQ</span> at http://www.melovemovies.com/home/faq. All questions that can&#8217;t be answered via the <span class="caps">FAQ</span> should be sent using our online form, available at http://www.melovemovies.com/home/contact. Please include your name and username in all correspondence or we will not respond.</p>


	<p>9. The Agreement</p>


	<p>This Agreement is governed by the laws of the State of California, U.S.A., without regard to its conflicts of law provisions; and you hereby consent to the jurisdiction of and venue in the federal and state courts located in Ventura County, California, U.S.A. in all disputes arising out of or relating to the Service. In addition, you hereby consent to the exclusive jurisdiction of and venue in such courts for any action commenced by you against us (or our affiliates). Use of the Service is unauthorized in any jurisdiction that does not give effect to all provisions of these terms and conditions, including without limitation this Section. You shall not use the Service in any manner contrary to local, state or federal law. Border7 expressly disclaims any and all responsibility or liability for any action by you that is contrary to such law(s) and reserves the right to terminate your Service immediately upon notice for your failure to comply with any such local, state or federal law. Our performance of this Agreement is subject to existing laws and legal process, and nothing contained in this Agreement is in derogation of our right to comply with governmental, court and law enforcement requests or requirements relating to your use of the Service or information provided to or gathered by us with respect to such use. If any part of this Agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the Agreement shall continue in effect. This Agreement constitutes the entire agreement between you and Border7 with respect to the Service and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or written, between you and Border7 with respect to the Service. A printed version of this Agreement and any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this Agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.</p>


	<p>11. Communities</p>


	<p>A) When you join the Reviews/User Groups (the &#8220;MLM R/G&#8221;), you agree to use the message boards and member pages only to post information and send and receive messages and material that are proper and related to the particular forum. By way of example, and not as a limitation, you agree that when using a message board, you will not:</p>


	<pre><code>- Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others.
- Publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topic, name, material or information.
- Upload files that contain software or other material protected by intellectual property laws (or by rights of privacy of publicity) unless you own or control the rights thereto or have received all necessary consents.
- Upload files, post or publish content that contain viruses, corrupted files, or any other similar software or programs that may damage the operation of another's computer.
- Advertise or offer to sell any goods or services for any commercial purpose.
- Conduct or forward surveys, contests, pyramid schemes or chain letters.
- Download any file posted by another user of a forum that you know, or reasonably should know, cannot be legally distributed in such manner.
- Restrict or inhibit any other user from using and enjoying the message boards.
- Falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material contained in a file that is uploaded.</code></pre>


	<p>B) Me Love Movies user termination. Border7 and its affiliates reserve the right to terminate your access without refund to any or all your User Page at any time without notice for any reason whatsoever.</p>


	<p>C) Monitoring. Border7 and its affiliates have no obligation to monitor the Boards or the content posted on any User Page. However, Border7 and its affiliates reserve the right at all times to disclose any information as necessary to satisfy any applicable law, regulation, legal process or governmental request, or to edit, refuse to post or to remove any information or materials, in whole or in part, in Border7&#8217;s or any of its affiliates&#8217; sole discretion.</p>


	<p>D) Usage. The <span class="caps">MLM R</span>/G are a public forum and not private communications and others may read your communications without your knowledge. You should not have any expectation of privacy relative to your communications on the Boards. Always use caution when giving out any personally identifying information about yourself in any message board community. The information, content and pictures posted by you on the User Pages is done so at your own risk. Border7 is not responsible for its theft, copying or placing of that content, image or information on other sites on the World Wide Web. Border7 and its affiliates do not control or endorse the content, messages or information found in any community and, therefore, Border7 and its affiliates specifically disclaim any liability with regard to the Boards and any actions resulting from your participation or the participation of others on any Board. Board managers and hosts are not authorized spokespersons of Border7 or any of its affiliates, and their views do not necessarily reflect those of Border7 and its affiliates. They do, however, set standards on their own forums.</p>


	<p>By posting messages or personal information, uploading files, inputting data, or engaging in any other form of communication through Border7, its <span class="caps">MLM R</span>/G, you are granting Border7 and its affiliates permission to: use, modify, copy, distribute, transmit, publicly display, publicly perform, reproduce, publish, create derivative works from, or transfer.</p>


	<p>The foregoing grants shall include the right to exploit any proprietary rights in such communication, including but not limited to rights under copyright, trademark, service mark or patent laws under any relevant jurisdiction.</p>


	<p>14. Downloads</p>


	<p>Any material or third party software downloaded through or for the use of the Services is done at your own discretion and risk, and Border7 will not be responsible in any way for any potential damage to your computer system or loss of data that results from the download of any such material. No advice or information, whether oral or written, obtained by you from the Border7 Sites and Services or our third party service providers will create any warranty not expressly stated. Border7 makes no representation or warranty that (i) the Services will meet your requirements, (ii) the Services will be uninterrupted, timely, secure, or error-free, (iii) any third party provided software, drivers, mods, or other materials are non-infringing, accurate or reliable (iv) the results that may be obtained from the use of the Services will be accurate or reliable, (v) the quality of any products, services, information, or other material purchased or obtained by you through the Services will meet your expectations, and (vi) any errors in Border7 or third party software will be corrected.</p>


	<p>15. The parties have agreed that this Agreement shall be written in English.</p>


	<p>Direct Questions or Notices to Me Love Movies c/o Border7 as follows:</p>


	<p>Me Love Movies<br />c/o Border7<br />Attn: Customer Service<br />2345 Erringer Rd, Suite 214B<br />Simi Valley, <span class="caps">CA 93065</span></p>


	<p>Email:<br />http://www.melovemovies.com/home/contact.php</p>


	<p>In addition to the User Agreement and in compliance with federal law, Me Love Movies has established a Privacy Policy.</p>
</div>
