
<h1>Why Sign Up</h1>

<div class="writeboardbody">
  <p>Have you ever been unable to find the perfect movie? Do you like letting other people know what you think? Do you enjoy flame wars? By being a user of the Me Love Movies community, you ensure your opinion counts.</p>


	<p>Sign up today and give the movies the ratings they deserve.</p>
</div>
