



<p>Me Love Movies password reminder for <i><%=@user_name%></i></p>

<p>
	Someone has requested that the password for your account be sent 
	to your email address.
</p>

<p>
	Your password is <i><%=@password%></i>
</p>

<p>
	<a href="<%=@server_domain%>"><%=@server_domain%></a>
</p>
