

<p>Me Love Movies Beta Request for <i><%=@human_name%></i></p>

<p>
	Thank you for contacting us regarding your interest in 
	our Beta. We have reached the maximum number of users so
	you can't join now. Please try again when the beta 
	period is over.
</p>

<p>
	<%=@user_name%>
</p>

<p>
	<a href="<%=@server_domain%>"><%=@server_domain%></a>
</p>


