<h1>Editing Rating For '<%= @title_rating.title.name %>'</h1>

<%= error_messages_for :title_rating %>

<%= render :partial => 'title_rating', :object => @title_rating, :locals => { :button_name => 'Update'} %>

<%= link_to "Don't edit", @title_rating %>
