<h1>Editing title_rating</h1>

<%= error_messages_for :title_rating %>

<%= render :partial => 'title_rating', :object => @title_rating, :locals => { :button_name => 'Update'} %>

<%= link_to 'Show', @title_rating %> |
<%= link_to 'Back', title_ratings_path %>
