<h1>Rating '<%= @title_name %>'</h1>

<%= error_messages_for :title_rating %>

<%= render :partial => 'title_rating', :object => @title_rating, :locals => { :button_name => 'Create'} %>

<%= link_to "Back to '#{@title_name}'", :controller => 'titles', :action => 'show', :id => @title_rating.title_id %>
